#wrapper-btn {
  padding: 2%;
  border: 2px solid #bbb;
  text-align: center;
}
a{
  color:inherit;
}
.item{
  padding: 10px;
  background-color: #ddd;
  margin: 5px;
}
.heading{
  text-transform: uppercase;
}
.active {
  background: #333;
  color: #fff;
}
.old {
  text-decoration: line-through;
}
